# API_KEY
.env

# Font Awesome
font-awesome

# Log
npm-debug.log*

# Dependency directories
node_modules

# Compiled JS
public/scripts/bundle.js
public/scripts/bundle.js.map

# OSX folder metadata
.DS_Store