.primaryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .header {
    color: steelblue;
    font-size: 65px;
  }

  .mainTime {
    padding: 16px 32px;
    color: darkslategray;
    border: solid;
    border-color: #FE5F55;
    font-size: 45px;
  }
}

