.homeContainer {
    color: steelblue;
    margin: auto;
    text-align: center;
    width: 710px;

    h1 { font-size: 60px; }

    h2 { 
        font-size: 20px;
        color: dodgerblue; 
    }

    img {
        display: block;
        margin: 7% auto auto auto;
        width: 300px; 
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
        border: 2px solid black;
        border-radius: 5px;
    }
}