.homeContainer {
    color: steelblue;
    margin: auto;
    text-align: center;
    /* width: 710px; */
    display: flex;

    .headerContainer {
        width: 70%;

        h1 { font-size: 60px; }

        h2 { 
            font-size: 20px;
            color: #FE5F55; 
        }
    }

    img {
        display: block;
        margin: 30% 10% 30% 10%;
        width: 400px; 
        max-width: 90%;
        height: auto;
        width: auto\9; /* ie8 */
        border: 2px solid black;
        border-radius: 5px;
    }
}