.homeContainer {
    color: steelblue;
    margin: auto;
    text-align: center;
    /* width: 710px; */
    display: flex;

    .headerContainer {
        width: 71%;
        margin-top: 3%;

        h1 { font-size: 60px; }

        h2 { 
            font-size: 22px;
            color: #FE5F55; 
        }

        .technologies {
            border: solid;
            border-color: black;
            margin-top: 4%;

            img { 
                width: auto;
                height: 42px;
                margin: 2% 1.75% 2% 1.75%;
            }
        }
    }

    .profilePic {
        display: block;
        margin: 25% 10% 30% 10%;
        width: 400px; 
        max-width: 90%;
        height: auto;
        width: auto\9; /* ie8 */
        border: 4px solid black;
        border-radius: 5px;
    }
}