.buttons {
    /* display: flex;
    flex-direction: row; */

    button {
        padding: 32px 64px;
        background-color: #59A9C2;
        color: white;
        border: none;
        font-size: 15px;
        transition: all 1s ease;
        outline-style: solid;
    }
    button:hover {
        background-color: #65878F;
    }
}