@padding: 9px 18px;
@fontSize: 20px;

.authContainer {
    display: flex;
    
    .authForm {
        margin-left: auto;

        input {
            padding: @padding;
            font-size: @fontSize;
            position: relative;
            top: 20px;
        }

        .authWelcome {
            display: inline-block;
            padding: @padding;
            font-size: 30px;
            position: relative;
            top: 23px;
        }

        .authLogin {
            padding: @padding;
            background-color: #007bff;
            color: white;
            border: none;
            font-size: @fontSize;
            transition: all 1s ease;
            outline-style: solid;
            position: relative;
            top: 20px;
        }
        .authLogin:hover { background-color: #014d9f; }

        .errorMessage {
            background-color: red;
            color: white;
            padding: 1em;
            text-align: right;
            margin-top: 20px;
        }

        .authLogout {
            .authLogin;
            background-color: #DC3545;
        }
        .authLogout:hover { background-color: rgb(124, 29, 38); }
    }
}