.authContainer {
    display: flex;
    
    .authForm {
        margin-left: auto;

        input {
            padding: 9px 18px;
            font-size: 20px;
            position: relative;
            top: 20px;
        }

        .authButton {
            padding: 9px 18px;
            background-color: #007bff;
            color: white;
            border: none;
            font-size: 20px;
            transition: all 1s ease;
            outline-style: solid;
            position: relative;
            top: 20px;
            
            :hover { background-color: #014d9f; }
        }
    }
}