@import '../home/home';

@padding: 9px 18px;
@fontSize: 20px;
@submitButtonColor: #28a745;

.authContainer {
    display: flex;
    padding-bottom: 30px;
    background-color: steelblue;

    @media @tablet-down {
        flex-direction: column;
    }

    img {
        position: relative;
        top: 12px;
        margin-left: 20px;
        width: 150px;
        height: 70px;
    }
    
    .authForm {
        margin-left: auto;

        @media @tablet-down {
            margin-left: 35px;
        }

        .errorMessage {
            display: inline-block;
            background-color: rgb(216, 3, 3);
            color: white;
            padding: 12px 24px;
            text-align: right;
            margin-right: 10px;
            font-size: 19px;
            position: relative;
            top: 20px;
            cursor: pointer;
        }

        input {
            padding: @padding;
            font-size: @fontSize;
            position: relative;
            top: 21px;
            margin: 0px 5px 7px 5px;

            @media @desktop-down {
                padding: 4px 8px;
                top: 26px;
            }
        }

        .authWelcome {
            display: inline-block;
            padding: @padding;
            font-size: 30px;
            font-weight: bold;
            position: relative;
            top: 18px;
        }

        .authLogin {
            padding: 11px 22px;
            background-color:  @submitButtonColor;
            color: white;
            font-size: @fontSize;
            transition: all 1s ease;
            position: relative;
            top: 21px;
            margin: 0px 15px 0px 5px;
            cursor: pointer;
            outline-style: none;

            @media @desktop-down {
                padding: 5px 10px;
                top: 26px;
            }
        }
        .authLogin:hover { background-color: #23933d; }
        .authLogin:disabled { 
            background-color: @submitButtonColor; 
            cursor: default;
        }

        .authLogout {
            .authLogin;
            top: 15px;
            background-color: #DC3545;
        }
        .authLogout:hover { background-color: rgb(124, 29, 38); }
    }
}