@import '../home/home';

.todosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

    h1 { 
        color: @mainColor;
        font-size: @headerFontSize;

        @media @tablet-down { 
            font-size: @headerFontSize * 0.8; 
        }
    }
}